{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <main>
        <aside>
            <a class="retour" href="{{ path('listSondages') }}">
                <div class="fa fa-arrow-left"></div>
                <p>Retour à la liste des sondages</p>
            </a>
        </aside>
        <section>
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <div id="registration">
                <h2>Créer un compte</h2>

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.nom) }}
                {{ form_row(registrationForm.prenom) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn">Créer</button>
                {{ form_end(registrationForm) }}

                <p>
                    Vous avez déjà un compte utilisateur? <br/>
                    <a href="{{ path('app_login') }}">Cliquez ici</a>
                </p>
            </div>
        </section>

    </main>

{% endblock %}
