*{
  margin:0;
  padding:0;
  list-style: none;
}

@font-face{
  font-family: 'ArchivoBlack-Regular';
  src: url('../fonts/ArchivoBlack-Regular.ttf');
}

@font-face{
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf');
}

//couleur
//old mauve: #592941
//viridian : #498467
//ocean green: #52B788
//celadon: #B2D3A8
// medium champgane: #EDE5A6

h1{
  font-family: 'ArchivoBlack-Regular', sans-serif;
  font-size: 40px;
  font-weight: normal;
}

p{
  font-family: 'OpenSans-Regular', sans-serif;
  font-size:14px;
}

header{
  width: 100vw;
  height: 160px;
  background-color: #498467;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  box-shadow: 0.2px 1px 9px #592941;
  z-index:2;

  .brand{
    display: flex;

    a{
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      align-items: center;
      padding-left: 30px;
      text-decoration: none;

      svg{
        width:40px;
        fill: white;
      }

      h1{
        color: white;
        font-size: 45px;
      }
    }
  }

  nav{
    display: flex;
    align-content: flex-end;
    margin-right: 30px;

    a {
      font-family: 'OpenSans-Regular', sans-serif;
      font-size: 17px;
      font-weight: bold;
      text-decoration: none;
      color: white;

      &:hover{
        font-family: 'OpenSans-Regular', sans-serif;
        font-size: 17px;
        font-weight: bold;
        text-decoration: underline;
        color: white;
      }

      button {
        font-family: 'OpenSans-Regular', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: #124030;
        padding: 10px;
        border-width: 2px;
        border-radius: 30px;
        border-color: #EDE5A6;
      }

      button:hover{
        font-family: 'OpenSans-Regular', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: white;
        background-color: #124030;
        padding: 10px;
        border-width: 2px;
        border-radius: 30px;
        border-color: #124030;
        cursor: pointer
      }
    }


  }
}
main{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;

  aside{
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: auto;

    a{
      text-decoration: none;
      .svg-inline--fa.fa-w-14{
        width: 60px;
        height: auto;
        color: #52B788;
        position: fixed;
        margin:30px;
        cursor: pointer;
      }
    }

    .retour{
      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      position: fixed;
      margin:30px;

      .svg-inline--fa.fa-w-14{
        display: inline-block;
        width: 30px;
        height: auto;
        color: #52B788;
        margin-top: 40px;
      }

      p{
        width: 135px;
        display: inline-block;
        color: #52B788;
        margin-left: 10px;
        font-family: 'ArchivoBlack-Regular', sans-serif;
        font-size: 15px;
      }
    }
  }

  section{
    display:flex;
    flex-direction: column;
    width: 70vw;
    height:auto;

    margin:auto;
    margin-top:4px;

    background: rgba(237, 229, 166, 0.7 );
    z-index:1;

    h2{
      display:block;
      font-family: 'ArchivoBlack-Regular', sans-serif;
      font-size: 40px;
      font-weight: normal;
      padding: 40px;
    }

    #registration{

      h2{
        display:block;
        font-family: 'ArchivoBlack-Regular', sans-serif;
        font-size: 40px;
        font-weight: normal;
        padding: 40px;
      }

      form{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-left: 40px;
        margin-bottom: 10px;
        background-color: white;
        border-radius: 5px;
        width: 80%;
        height:auto;

        h3{
          margin: 10px;
          font-family: 'ArchivoBlack-Regular', sans-serif;
          font-size: 20px;
          font-weight: normal;
        }

        p{
          margin:10px;
          font-family: 'OpenSans-Regular', sans-serif;
          font-size:20px;
          text-decoration: none;
        }

        a{
          margin:10px;
          font-family: 'OpenSans-Regular', sans-serif;
          font-size:14px;

        }

        div{
          display:flex;
          flex-direction: row-reverse;
          align-items: flex-start;

          label{
            display: inline-block;
            font-family: 'OpenSans-Regular', sans-serif;
            font-size: 20px;
            margin-left: 10px;
          }

          input{
            display: inline-block;
            width: auto;
            font-family: 'OpenSans-Regular', sans-serif;
            font-size: 20px;
            border:0;
            border-bottom: outset 1px #124030;
          }
        }
      }
    }

    //la liste de sondages
    .sondageForm{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      margin-left: 40px;
      margin-bottom: 10px;
      background-color: white;
      border-radius: 5px;
      width: 80%;
      height:auto;

      h3{
        margin: 10px;
        font-family: 'ArchivoBlack-Regular', sans-serif;
        font-size: 20px;
        font-weight: normal;
      }

      p{
        margin:10px;
        font-family: 'OpenSans-Regular', sans-serif;
        font-size:20px;
        text-decoration: none;
      }

      a{
        margin:10px;
        font-family: 'OpenSans-Regular', sans-serif;
        font-size:14px;

      }
    }


    //style de formulaire
    form{
      display:flex;
      flex-direction:column !important;
      align-items:flex-start;
      justify-content: center;
      margin-left:50px;
      margin-right:50px;
      padding:30px;
      border-bottom: solid 1px #D8F3DC;
      border-left: solid 1px #D8F3DC;
      border-radius: 10px;
      box-shadow: 2px 2px 5px 1px rgba(89,41,65,0.5);
      -webkit-box-shadow: 2px 2px 5px 1px rgba(89,41,65,0.5);
      -moz-box-shadow: 2px 2px 5px 1px rgba(89,41,65,0.5);
      background-color: white;
      z-index: 2;

      .question{
        font-family: 'OpenSans-Regular', sans-serif;
        font-size: 25px;
      }

      .type{
        font-family: 'OpenSans-Regular', sans-serif;
        font-size: 15px;
        margin-bottom: 20px;
      }

      #poll_reponse{
        display:flex;
        flex-direction: column;
      }

      #poll_Voter{
        font-family: 'OpenSans-Regular', sans-serif;
        color:#498467;
        font-size: 20px;
        padding: 10px;
        margin: 20px 0px;
        border: solid 1px #EDE5A6;
        border-radius: 10px;
        background-color: white;

        &:hover{
          font-family: 'OpenSans-Regular', sans-serif;
          color:#498467;
          font-size: 20px;
          padding: 10px;
          margin: 20px 0px;
          border: solid 1px #EDE5A6;
          border-radius: 10px;
          background-color: white;
          cursor: pointer;
        }
      }

      #ajouterPoll{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        div{
          display:flex;
          flex-direction: row;
          align-items: center;

          label{
            display: inline-block;
            font-family: 'OpenSans-Regular', sans-serif;
            font-size: 20px;
            margin-left: 10px;
          }

          input{
            display: inline-block;
            width: auto;
            font-family: 'OpenSans-Regular', sans-serif;
            font-size: 20px;
            border:0;
            border-bottom: outset 1px #124030;
          }
        }

        button{
          font-family: 'OpenSans-Regular', sans-serif;
          color:#498467;
          font-size: 20px;
          padding: 10px;
          margin: 20px;
          border: solid 1px #498467;
          border-radius: 10px;
          background-color: white;

          &:hover{
            font-family: 'OpenSans-Regular', sans-serif;
            color:#498467;
            font-size: 20px;
            padding: 10px;
            margin: 20px;
            border: solid 1px #498467;
            border-radius: 10px;
            background-color: white;
            cursor: pointer;
          }
        }
      }

      div{
        display:flex;
        flex-direction: row-reverse;
        align-items: center;

        label{
          display: inline-block;
          font-family: 'OpenSans-Regular', sans-serif;
          font-size: 20px;
          margin-left: 10px;
        }

        input{
          display: inline-block;
          width: auto;
          font-family: 'OpenSans-Regular', sans-serif;
          font-size: 20px;
          border:0;
          border-bottom: outset 1px #124030;
        }
      }

    }
  }




}





