
    {{ form_start(form) }}
    <div id="ajouterPoll">
        {{ form_row(form.question) }}


        {% for reponse in form.reponse %}
                <div>{{ form_row(reponse.libelle) }}</div>
        {% endfor %}


        <button id="newChoice" type="button">+ Ajouter un nouveau choix</button>

        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}


