{{ form_start(pollForm) }}
        <p class="question">{{ sondage.question }}</p>
        <p class="type">(formulaire à choix {{ sondage.type }})</p>

        {{ form_rest(pollForm.reponse) }}


{{ form_end(pollForm) }}
