{% extends 'base.html.twig' %}

{% block title %}Edit Sondage{% endblock %}

{% block body %}
    <h2>Edit Sondage</h2>

    {{ include('sondage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sondage_index') }}">back to list</a>

    {{ include('sondage/_delete_form.html.twig') }}
{% endblock %}
