{% extends 'base.html.twig' %}

{% block title %}Sondage index{% endblock %}

{% block body %}
<main>
    <aside>
        <a href="{{ path('sondage_new') }}">
            <div class="fa fa-plus" ></div>
        </a>
    </aside>

    <section>
        <h2>Les sondages</h2>
        {% for sondage in sondages %}
            <div class="sondageForm">
                <h3>Sondage n°{{ sondage.id }}</h3>
                <p>{{ sondage.question }}</p>

                <a href="{{ path('sondage_show', {'id': sondage.id}) }}">répondre</a>
                <a href="{{ path('sondage_edit', {'id': sondage.id}) }}">edit</a>
            </div>
        {% endfor %}


    </section>
</main>





{% endblock %}
