{% extends 'base.html.twig' %}

{% block title %}Nouveau Sondage{% endblock %}

{% block body %}
    <main>
        <aside>
            <a class="retour" href="{{ path('listSondages') }}">
                <div class="fa fa-arrow-left"></div>
                <p>Retour à la liste des sondages</p>
            </a>
        </aside>
        <section>
            <h2>Nouveau sondage</h2>

            {{ include('sondage/_form.html.twig') }}
        </section>
    </main>



{% endblock %}
