{% extends 'base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}

    <main>
        <aside>
            <a class="retour" href="{{ path('listSondages') }}">
                <div class="fa fa-arrow-left"></div>
                <p>Retour à la liste des sondages</p>
            </a>
        </aside>

        <section>
            <h2>Sondage n°{{ sondage.id }}</h2>


            {{  include('sondage/_pollForm.html.twig') }}





            <a href="{{ path('sondage_edit', {'id': sondage.id}) }}">edit</a>

            {{ include('sondage/_delete_form.html.twig') }}
        </section>
    </main>

{% endblock %}
