<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Surveyvor{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">
        {{ encore_entry_link_tags('app') }}

    {% endblock %}
</head>
<body>
{% block header %}
    <header>
        {% include './components/brand.html.twig' %}
        {% include './components/navbar.html.twig' %}
    </header>
{% endblock %}


{% block body %}
{% endblock %}


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
